<!DOCTYPE html>
<html>
  <head>
    <title>TrialBike</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!-- =========================
     HOME
============================== -->
<div class="home default-banner" id="home">
	<!-- NAVIGATION -->
	<nav class="navbar navbar-home navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- TEMPLATE LOGO -->
				<a class="navbar-brand" href="#">
					<img src="images/logo.png" alt="Mountain Biking">
				</a>
			</div>

			<div class="collapse navbar-collapse" id="my-navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#home">Home <span class="sr-only">(current)</span></a></li>
					<li><a href="#about-us">About</a></li>
					<li><a href="#bike-trail">Trails</a>
						<ul>
							<li><a href="#">Level 1</a></li>
							<li><a href="#">Level 1 link 2</a>

								<ul>
									<li><a href="#">Level 2</a></li>
									<li><a href="#">Level 2 link 2</a></li>
									<li><a href="#">Level 2</a></li>
								</ul>

							</li>
							<li><a href="#">Level 1</a></li>
						</ul>
					</li>
					<li><a href="#events">Events</a></li>
					<li><a href="#our-team">Team</a></li>
					<li><a href="#blogs">News</a></li>
					<li><a href="#contact">Contact</a>

						<ul>
							<li><a href="#">Level 1</a></li>
							<li><a href="#">Level 1 link 2</a></li>
							<li><a href="#">Level 1</a></li>
						</ul>

					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- CAROUSEL WITH LEFT DESCRIPTION -->
	<div class="contaier-outer">
		<div class="hero-intro"></div>
		<div class="text-slider-bg">
			<div class="overlay"></div>
		</div>
	</div> <!-- /.contaier-outer -->

	<div class="inner-container">
		<div class="container">
			<div class="row text-right">
				<!-- ABOUT US LEFT HALF -->
        <% @home_abouts.each do |h| %>
  				<div class="col-md-4 base-background">
  					<div class="content">
  						<a class="template-brand" href="#">
  							<img src="images/logo.png" alt="Mountain Biking">
  						</a>

  						<h1><%= h.title %></h1>
  						<p class="sub-heading"><%= h.subtitle %></p>

  						<p><%= h.description %></p>

  						<p><a href="#" class="btn btn-trans btn-md"><%= h.button_text %></a></p>
  					</div>
  				</div>
        <% end %>
				<!-- CAROUSEL RIGHT HALF -->
				<div class="col-md-6 col-md-offset-2">
					<div class="owl-carousel">
						<div class="item text-slider">
							<div class="content">
								<h3>the big event is comming</h3>

								<p>On June 07, we are going to arrange a big event which will be one of the biggest event in the history for California’s bicyclists. We will gather around 1500 cyclists in mountain velly at 10am who will come from around the USA from different cycling clubs and also individuals. So, don’t miss this opportunity to make a history and printed your name on the record books.</p>

								<p><a href="#" class="btn btn-trans btn-md">Join with us</a></p>
							</div>
						</div>

						<div class="item text-slider">
							<div class="content">
								<h3>biggest event in the history</h3>

								<p>On June 07, we are going to arrange a big event which will be one of the biggest event in the history for California’s bicyclists. We will gather around 1500 cyclists in mountain velly at 10am who will come from around the USA from different cycling clubs and also individuals. So, don’t miss this opportunity to make a history and printed your name on the record books.</p>

								<p><a href="#" class="btn btn-trans btn-md">Join with us</a></p>
							</div>
						</div>

						<div class="item text-slider">
							<div class="content">
								<h3>the big event is comming</h3>

								<p>On June 07, we are going to arrange a big event which will be one of the biggest event in the history So, don’t miss this opportunity to make a history and printed your name on the record books.</p>

								<p><a href="#" class="btn btn-trans btn-md">Join with us</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /end of .container -->
	</div>
</div>
<!-- =========================
     ABOUT US
============================== -->
<section class="about-us" id="about-us">
	<div class="container">
		<div class="row">
			<!-- SECTION HEAD -->
			<div class="mb-30 mb-45 col-md-4">
				<header class="section-heading">
					<h2 class="title-text">About Us</h2>
				</header> <!-- /.section-heading -->

				<p>Trail Bike was stablised in 1998 at Newyork City by four friends Chris, Juisa, Alleja and Alejandro. Now it is the biggest biking club in Newyork and top 5 in USA with around 5000 active members. We arrange numbers of events and programs throughout the years to raise awerness about green city, save tracking and many more. We have a large vision to make a revolution to stablish green city and making beautiful and comfortable trails for mountain biker throughout the country. </p>
			</div> <!-- /END SECTION HEAD -->

			<!-- SECTION BODY -->
			<div class="col-md-8">
				<div class="mb-30 owl-carousel controls-right">
					<div class="item">
						<figure class="hover-element">
							<img src="images/thumbnails/about-1.jpg" alt="About Mountain Biking" class="img-responsive">

							<figcaption class="hover-content element-lg text-center">
								<h5>Monthly Biking Event</h5>
								<div class="wrap">
									<p>Every Year we organised two biking competion for professional bikers and also for new comers. We trained the new bikers for safe tracking.</p>
									<a href="blog-single.html" class="btn btn-trans btn-md">Learn More</a>
								</div>
							</figcaption>
						</figure>
					</div>

					<div class="item">
						<figure class="hover-element">
							<img src="images/thumbnails/about-2.jpg" alt="About Mountain Biking" class="img-responsive">

							<figcaption class="hover-content element-lg text-center">
								<h5>Biking Competition</h5>
								<div class="wrap">
									<p>Every Year we organised two biking competion for professional bikers and also for new comers. We trained the new bikers for safe tracking.</p>
									<a href="blog-single.html" class="btn btn-trans btn-md">Learn More</a>
								</div>
							</figcaption>
						</figure>
					</div>

					<div class="item">
						<figure class="hover-element">
							<img src="images/thumbnails/about-1.jpg" alt="About Mountain Biking" class="img-responsive">

							<figcaption class="hover-content element-lg text-center">
								<h5>Monthly Biking Event</h5>
								<div class="wrap">
									<p>Every Year we organised two biking competion for professional bikers and also for new comers. We trained the new bikers for safe tracking.</p>
									<a href="blog-single.html" class="btn btn-trans btn-md">Learn More</a>
								</div>
							</figcaption>
						</figure>
					</div>

					<div class="item">
						<figure class="hover-element">
							<img src="images/thumbnails/about-2.jpg" alt="About Mountain Biking" class="img-responsive">

							<figcaption class="hover-content element-lg text-center">
								<h5>Biking Competition</h5>
								<div class="wrap">
									<p>Every Year we organised two biking competion for professional bikers and also for new comers. We trained the new bikers for safe tracking.</p>
									<a href="blog-single.html" class="btn btn-trans btn-md">Learn More</a>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
			</div> <!-- /END SECTION BODY -->
		</div>
	</div>
</section>



<!-- =========================
     BIKE TRAILS
============================== -->
<section class="bike-trail" id="bike-trail">
	<div class="container">
		<div class="row">
			<!-- SECTION HEAD -->
			<div class="mb-30 mb-45 col-md-3">
				<header class="section-heading">
					<h2 class="title-text">Bike Trail</h2>
				</header> <!-- /.section-heading -->

				<p>Trail Bike hosts regular group rides on the mountain throught the years, mostly iduring the warmers month. We make our own trail by diging and we also use the natural trail on the mountain.</p>
			</div> <!-- /END SECTION HEAD -->

			<!-- SECTION BODY -->
			<div class="col-md-9">
				<div class="row">
					<article class="mb-30 col-sm-4">
						<header class="article-heading">
							<h4 class="title-text"><a href="blog-single.html">Velory Hill Trail</a></h4>
						</header>

						<p>In the velory hill of Newyork we ride our bike about 15 km from hill point to water point with some breaks. It is the most wonderful place with lots of beauty.</p>

						<footer class="more-info">
							<a href="contents/bike-map-1.html" class="lightbox" data-lightbox-type="ajax">
								<img src="images/thumbnails/map-1.jpg" alt="Map" class="img-responsive">
							</a>
							<p><small>Click on the map to see full trail</small></p>
						</footer>
					</article>

					<article class="mb-30 col-sm-4">
						<header class="article-heading">
							<h4 class="title-text"><a href="blog-single.html">Velory Hill Trail</a></h4>
						</header>

						<p>In the velory hill of Newyork we ride our bike about 15 km from hill point to water point with some breaks. It is the most wonderful place with lots of beauty.</p>

						<footer class="more-info row">
							<div class="col-xs-6">
								<a href="contents/bike-map-2.html" class="lightbox" data-lightbox-type="ajax">
									<img src="images/thumbnails/map-2.jpg" alt="Map" class="img-responsive">
								</a>
								<p><small>Click on the map to see full trail</small></p>
							</div>

							<div class="col-xs-6">
								<a href="https://www.youtube.com/9xlqKl9or-s" class="lightbox" data-lightbox-type="iframe">
									<img src="images/thumbnails/vid.jpg" alt="Video" class="img-responsive">
								</a>
								<p><small>Watch the video of this trail</small></p>
							</div>
						</footer>
					</article>

					<article class="mb-30 col-sm-4">
						<header class="article-heading">
							<h4 class="title-text"><a href="blog-single.html">Velory Hill Trail</a></h4>
						</header>

						<p>In the velory hill of Newyork we ride our bike about 15 km from hill point to water point with some breaks. It is the most wonderful place with lots of beauty.</p>

						<footer class="more-info">
							<a href="contents/bike-map-3.html" class="lightbox" data-lightbox-type="ajax">
								<img src="images/thumbnails/map-1.jpg" alt="Map" class="img-responsive">
							</a>
							<p><small>Click on the map to see full trail</small></p>
						</footer>
					</article>
				</div>
			</div> <!-- /END SECTION BODY -->
		</div>
	</div>
</section>


<!-- =========================
     SUCCESS STORY
============================== -->
<section class="success-story">
	<div class="container">
		<div class="row">
			<!-- SECTION HEAD -->
			<header class="section-heading text-center">
				<h2 class="title-text">Success Story</h2>
				<p>From the beginning of the club, we make numbers of success story in the national and also
					international level. We feel pround of to be a part of this comminty.</p>
			</header> <!-- /.section-heading -->
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="single-story text-center">
					<div class="success-title">
						<i class="fa fa-angellist"></i>
						<h4>International Trophy</h4>
					</div>
					<p>From the beginning of the club, we make numbersof success story in the national and alsointernational level. </p>
					<div class="full-story">
						<a href="#">+</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="single-story text-center">
					<div class="success-title">
						<i class="fa fa-bell-o"></i>
						<h4>International Trophy</h4>
					</div>
					<p>From the beginning of the club, we make numbersof success story in the national and alsointernational level. </p>
					<div class="full-story">
						<a href="#">+</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="single-story text-center">
					<div class="success-title">
						<i class="fa fa-heart"></i>
						<h4>International Trophy</h4>
					</div>
					<p>From the beginning of the club, we make numbersof success story in the national and alsointernational level. </p>
					<div class="full-story">
						<a href="#">+</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- =========================
     EVENTS
============================== -->
<section class="events" id="events">
	<div class="container">
		<div class="row">
			<!-- SECTION HEAD -->
			<div class="mb-30 mb-45 col-md-3">
				<header class="section-heading">
					<h2 class="title-text">Events</h2>
				</header> <!-- /.section-heading -->

				<p>Through out the year we arrange lots of ride and cycling events for pressional and also for novice. Most of our events are running from May to September in the summer time. We have few events in the time winter depending on weather.</p>
			</div> <!-- /END SECTION HEAD -->

			<!-- SECTION BODY -->
			<div class="col-md-9">
				<div class="row">
					<article class="mb-30 col-sm-4">
						<header class="article-heading">
							<div class="media">
								<div class="media-left">
									<p class="meta-calander" title="12 November, 2014">12</p>
								</div>

								<div class="media-body">
									<h4 class="title-text"><a href="blog-single.html">Season Break Bike Racing Guru</a></h4>
								</div>
							</div>

							<div class="meta-data">
								<span class="meta-cat"><i class="fa fa-map-marker"></i> Clinton Hill Point</span>
								<span class="meta-time"><i class="fa fa-clock-o"></i> 9am to 3pm</span>
							</div>
						</header>

						<figure class="hover-img">
							<img src="images/thumbnails/event-01.jpg" alt="Events" class="img-responsive">

							<div class="img-hover-content">
		 						<a href="blog-single.html" class="link-popup">
		 							<i class="icon-inside fa fa-link"></i>
		 						</a>
		 					</div>
						</figure>

						<p>Through out the year we arrange lots of ride and cycling events for pressional and also for novice.</p>

						<footer>
							<a href="blog-single.html" class="btn btn-md btn-trans">Learn More</a>
						</footer>
					</article>

					<article class="mb-30 col-sm-4">
						<header class="article-heading">
							<div class="media">
								<div class="media-left">
									<p class="meta-calander" title="12 November, 2014">12</p>
								</div>

								<div class="media-body">
									<h4 class="title-text"><a href="blog-single.html">Joint People Biker Hero</a></h4>
								</div>
							</div>

							<div class="meta-data">
								<span class="meta-cat"><i class="fa fa-map-marker"></i> Clinton Hill Point</span>
								<span class="meta-time"><i class="fa fa-clock-o"></i> 9am to 3pm</span>
							</div>
						</header>

						<figure class="hover-img">
							<img src="images/thumbnails/event-02.jpg" alt="Events" class="img-responsive">

							<div class="img-hover-content">
		 						<a href="blog-single.html" class="link-popup">
		 							<i class="icon-inside fa fa-link"></i>
		 						</a>
		 					</div>
						</figure>

						<p>Through out the year we arrange lots of ride and cycling events for pressional and also for novice.</p>

						<footer>
							<a href="blog-single.html" class="btn btn-md btn-trans">Learn More</a>
						</footer>
					</article>

					<article class="mb-30 col-sm-4">
						<header class="article-heading">
							<div class="media">
								<div class="media-left">
									<p class="meta-calander" title="12 November, 2014">12</p>
								</div>

								<div class="media-body">
									<h4 class="title-text"><a href="blog-single.html">Hill Gadiator of  the year</a></h4>
								</div>
							</div>

							<div class="meta-data">
								<span class="meta-cat"><i class="fa fa-map-marker"></i> Clinton Hill Point</span>
								<span class="meta-time"><i class="fa fa-clock-o"></i> 9am to 3pm</span>
							</div>
						</header>

						<figure class="hover-img">
							<img src="images/thumbnails/event-03.jpg" alt="Events" class="img-responsive">

							<div class="img-hover-content">
		 						<a href="blog-single.html" class="link-popup">
		 							<i class="icon-inside fa fa-link"></i>
		 						</a>
		 					</div>
						</figure>

						<p>Through out the year we arrange lots of ride and cycling events for pressional and also for novice.</p>

						<footer>
							<a href="blog-single.html" class="btn btn-md btn-trans">Learn More</a>
						</footer>
					</article>
				</div>
			</div> <!-- /END SECTION BODY -->
		</div>
	</div>
</section>



<!-- =========================
     GALLERY
============================== -->
<section class="gallery" id="gallery">
	<div class="container">
		<div class="row">
			<!-- SECTION HEAD -->
			<div class="mb-30 mb-45 col-md-3">
				<header class="section-heading">
					<h2 class="title-text">Gallery</h2>
				</header> <!-- /.section-heading -->

				<p>Lost of memorable things happed during our programs and events. Our volunteer photograpgers capture those beautiful moments with cameras. In this section you’ll find many photos of our previous programs and events. </p>
			</div> <!-- /END SECTION HEAD -->

			<!-- SECTION BODY -->
			<div class="col-md-9">
				<div class="filter-buttons">
					<button class="btn btn-sm btn-trans filter" data-filter="all">All</button>
					<button class="btn btn-sm btn-trans filter" data-filter=".summer">Summer</button>
					<button class="btn btn-sm btn-trans filter" data-filter=".winter">Winter</button>
				</div>
				<!-- /.filter-buttons -->

				<div class="row gallery-items">
					<div class="mix summer item col-sm-4 col-xs-6">
						<a href="images/gallery/1.jpg" class="lightbox">
							<img src="images/gallery/1-thumb.jpg" alt="Thumb" class="img-responsive">
							<i class="fa fa-search"></i>
						</a>
					</div>

					<div class="mix winter item col-sm-4 col-xs-6">
						<a href="images/gallery/2.jpg" class="lightbox">
							<img src="images/gallery/2-thumb.jpg" alt="Thumb" class="img-responsive">
							<i class="fa fa-search"></i>
						</a>
					</div>

					<div class="mix summer item col-sm-4 col-xs-6">
						<a href="images/gallery/3.jpg" class="lightbox">
							<img src="images/gallery/3-thumb.jpg" alt="Thumb" class="img-responsive">
							<i class="fa fa-search"></i>
						</a>
					</div>

					<div class="mix summer item col-sm-4 col-xs-6">
						<a href="images/gallery/4.jpg" class="lightbox">
							<img src="images/gallery/4-thumb.jpg" alt="Thumb" class="img-responsive">
							<i class="fa fa-search"></i>
						</a>
					</div>

					<div class="mix winter item col-sm-4 col-xs-6">
						<a href="images/gallery/5.jpg" class="lightbox">
							<img src="images/gallery/5-thumb.jpg" alt="Thumb" class="img-responsive">
							<i class="fa fa-search"></i>
						</a>
					</div>

					<div class="mix summer item col-sm-4 col-xs-6">
						<a href="images/gallery/6.jpg" class="lightbox">
							<img src="images/gallery/6-thumb.jpg" alt="Thumb" class="img-responsive">
							<i class="fa fa-search"></i>
						</a>
					</div>
				</div>
			</div> <!-- /END SECTION BODY -->
		</div>
	</div>
</section>


<!-- =========================
     SUBSCRIPTION PLAN
============================== -->


<section class="subscription">
	<div class="container">
		<div class="row">
			<!-- SECTION HEAD -->
			<header class="section-heading text-center">
				<h2 class="title-text">Subscription Plan</h2>
				<p>From the beginning of the club, we make numbers of success story in the national and also
					international level. We feel pround of to be a part of this comminty.</p>
			</header> <!-- /.section-heading -->
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-plan text-center">
					<div class="plan-name">
						<h3>$19</h3>
						<h5>general member</h5>
					</div>
					<div class="plan-description">
						<ul class="plan-features">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet, consectetur</li>
                            <li>Adipiscing elit</li>
						    <li>Nullam est arcu</li>
						    <li>Varius ac mollis congue</li>
						</ul>
					</div>
					<a href="#">sign up</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-plan text-center">
					<div class="plan-name">
						<h3>$27</h3>
						<h5>general member</h5>
					</div>
					<div class="plan-description">
						<ul class="plan-features">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet, consectetur</li>
                            <li>Adipiscing elit</li>
						    <li>Nullam est arcu</li>
						    <li>Varius ac mollis congue</li>
						</ul>
					</div>
					<a href="#">sign up</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-plan text-center">
					<div class="plan-name">
						<h3>$47</h3>
						<h5>general member</h5>
					</div>
					<div class="plan-description">
						<ul class="plan-features">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet, consectetur</li>
                            <li>Adipiscing elit</li>
						    <li>Nullam est arcu</li>
						    <li>Varius ac mollis congue</li>
						</ul>
					</div>
					<a href="#">sign up</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-plan text-center">
					<div class="plan-name">
						<h3>$97</h3>
						<h5>general member</h5>
					</div>
					<div class="plan-description">
						<ul class="plan-features">
                            <li>Lorem ipsum dolor</li>
                            <li>Sit amet, consectetur</li>
                            <li>Adipiscing elit</li>
						    <li>Nullam est arcu</li>
						    <li>Varius ac mollis congue</li>
						</ul>
					</div>
					<a href="#">sign up</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- =========================
     OUR TEAM
============================== -->
<section class="our-team" id="our-team">
	<div class="container">
		<div class="row">
			<!-- SECTION HEAD -->
			<div class="mb-30 mb-45 col-md-3">
				<header class="section-heading">
					<h2 class="title-text">Our Team</h2>
				</header> <!-- /.section-heading -->

				<p>From the begning of this club the people who are working so hard to esatblish the one the biggest cycling club in USA are never forgotten. Their love, affection and hard working make this club beautiful, energetic and successful.</p>
			</div> <!-- /END SECTION HEAD -->

			<!-- SECTION BODY -->
			<div class="col-md-9">
				<div class="mb-30 owl-carousel controls-right">
					<div class="item">
						<figure class="hover-element">
							<img src="images/thumbnails/team-01.jpg" alt="Team Member" class="img-responsive">

							<figcaption class="hover-content element-sm">
								<h5>Robert Chamber <span>| Trainer</span></h5>
								<div class="wrap">
									<p>Robert Chamber is professional is a five time  mountain biking champion through 2001 to 2006. Robert Chamber is a very joyful, energetic,  little bit comedian.</p>

									<p><strong>Follow him on</strong></p>

									<ul class="social">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</figcaption>
						</figure>
					</div>

					<div class="item">
						<figure class="hover-element">
							<img src="images/thumbnails/team-02.jpg" alt="Team Member" class="img-responsive">

							<figcaption class="hover-content element-sm">
								<h5>John Doe <span>| Trainer</span></h5>
								<div class="wrap">
									<p>John Doe is professional is a five time  mountain biking champion through 2001 to 2006. John Doe is a very joyful, energetic,  little bit comedian.</p>

									<p><strong>Follow him on</strong></p>

									<ul class="social">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</figcaption>
						</figure>
					</div>

					<div class="item">
						<figure class="hover-element">
							<img src="images/thumbnails/team-03.jpg" alt="Team Member" class="img-responsive">

							<figcaption class="hover-content element-sm">
								<h5>Robert Chamber <span>| Trainer</span></h5>
								<div class="wrap">
									<p>Robert Chamber is professional is a five time  mountain biking champion through 2001 to 2006. Robert Chamber is a very joyful, energetic,  little bit comedian.</p>

									<p><strong>Follow him on</strong></p>

									<ul class="social">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</figcaption>
						</figure>
					</div>

					<div class="item">
						<figure class="hover-element">
							<img src="images/thumbnails/team-01.jpg" alt="Team Member" class="img-responsive">

							<figcaption class="hover-content element-sm">
								<h5>Robert Chamber <span>| Trainer</span></h5>
								<div class="wrap">
									<p>Robert Chamber is professional is a five time  mountain biking champion through 2001 to 2006. Robert Chamber is a very joyful, energetic,  little bit comedian.</p>

									<p><strong>Follow him on</strong></p>

									<ul class="social">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</figcaption>
						</figure>
					</div>
				</div>
			</div> <!-- /END SECTION BODY -->
		</div>
	</div>
</section>



<!-- =========================
     SPONSORS
============================== -->
<section class="sponsors" id="sponsors">
	<div class="container">
		<div class="row">
			<!-- SECTION HEAD -->
			<div class="mb-30 mb-45 col-md-3">
				<header class="section-heading">
					<h2 class="title-text">Sponsors</h2>
				</header> <!-- /.section-heading -->

				<p>From beginning our club some company and organisations help us continously. Without their help we are really unable to reach our traget goals and success.</p>
			</div> <!-- /END SECTION HEAD -->

			<!-- SECTION BODY -->
			<div class="col-md-9">
				<div class="row">
					<div class="mb-30 col-md-4 col-sm-6">
						<a href="#" class="vam">
							<div class="content">
								<img src="images/icons/cc.png" alt="Codecanyon">
								<h4 class="title-text text-capitalize">Codecanyon</h4>
							</div>
						</a>
					</div>

					<div class="mb-30 col-md-4 col-sm-6">
						<a href="#" class="vam">
							<div class="content">
								<img src="images/icons/3d.png" alt="3docean">
								<h4 class="title-text text-capitalize">3docean</h4>
							</div>
						</a>
					</div>

					<div class="mb-30 col-md-4 col-sm-6">
						<a href="#" class="vam">
							<div class="content">
								<img src="images/icons/pd.png" alt="Photodune">
								<h4 class="title-text text-capitalize">Photodune</h4>
							</div>
						</a>
					</div>

					<div class="mb-30 col-md-4 col-sm-6">
						<a href="#" class="vam">
							<div class="content">
								<img src="images/icons/vh.png" alt="VideoHive">
								<h4 class="title-text text-capitalize">VideoHive</h4>
							</div>
						</a>
					</div>

					<div class="mb-30 col-md-4 col-sm-6">
						<a href="#" class="vam">
							<div class="content">
								<img src="images/icons/gr.png" alt="Graphic River">
								<h4 class="title-text text-capitalize">Graphic River</h4>
							</div>
						</a>
					</div>
				</div>
			</div> <!-- /END SECTION BODY -->
		</div>
	</div>
</section>



<!-- =========================
     BLOGS
============================== -->
<section class="blogs" id="blogs">
	<div class="container">
		<div class="row">
			<!-- SECTION HEAD -->
			<div class="mb-30 mb-45 col-md-3">
				<header class="section-heading">
					<h2 class="title-text">Our Blog</h2>
				</header> <!-- /.section-heading -->

				<p>Through out the year we arrange lots of ride and cycling events for pressional and also for novice. Most of our events are running from May to September in the summer time. We have few events in the time winter depending on weather.</p>
			</div> <!-- /END SECTION HEAD -->

			<!-- SECTION BODY -->
			<div class="col-md-9">
				<div class="row">
					<article class="mb-30 col-sm-4">
						<header class="article-heading">
							<h4 class="title-text"><a href="blog-single.html">Oswald Bikers Find out a Misterious Trail</a></h4>

							<div class="meta-data">
								<span class="meta-cat"><i class="fa fa-user"></i> John Martha Doe</span>
								<span class="meta-time"><i class="fa fa-calendar"></i> June 12, 2015</span>
							</div>
						</header>

						<figure class="hover-img">
							<img src="images/thumbnails/blog-01.jpg" alt="Blog Thumnail" class="img-responsive">
							<i class="blog-type-icon fa fa-picture-o"></i>

							<div class="img-hover-content">
		 						<a href="blog-single.html" class="link-popup">
		 							<i class="icon-inside fa fa-link"></i>
		 						</a>
		 					</div>
						</figure>

						<p>Through out the year we arrange lots of ride and cycling events for pressional and also for novice.</p>

						<footer>
							<a href="blog-single.html" class="btn btn-md btn-trans">Read More</a>
						</footer>
					</article>

					<article class="mb-30 col-sm-4">
						<header class="article-heading">
							<h4 class="title-text"><a href="blog-single.html">Season Break Bike Racing Guru</a></h4>

							<div class="meta-data">
								<span class="meta-cat"><i class="fa fa-user"></i> John Martha Doe</span>
								<span class="meta-time"><i class="fa fa-calendar"></i> June 12, 2015</span>
							</div>
						</header>

						<figure class="hover-img">
							<img src="images/thumbnails/blog-02.jpg" alt="Blog Thumnail" class="img-responsive">
							<i class="blog-type-icon fa fa-picture-o"></i>

							<div class="img-hover-content">
		 						<a href="blog-single.html" class="link-popup">
		 							<i class="icon-inside fa fa-link"></i>
		 						</a>
		 					</div>
						</figure>

						<p>Through out the year we arrange lots of ride and cycling events for pressional and also for novice.</p>

						<footer>
							<a href="blog-single.html" class="btn btn-md btn-trans">Read More</a>
						</footer>
					</article>

					<article class="mb-30 col-sm-4">
						<header class="article-heading">
							<h4 class="title-text"><a href="blog-single.html">Season Break Bike Racing Guru</a></h4>

							<div class="meta-data">
								<span class="meta-cat"><i class="fa fa-user"></i> John Martha Doe</span>
								<span class="meta-time"><i class="fa fa-calendar"></i> June 12, 2015</span>
							</div>
						</header>

						<figure class="hover-img">
							<img src="images/thumbnails/blog-03.jpg" alt="Blog Thumnail" class="img-responsive">
							<i class="blog-type-icon fa fa-picture-o"></i>

							<div class="img-hover-content">
		 						<a href="blog-single.html" class="link-popup">
		 							<i class="icon-inside fa fa-link"></i>
		 						</a>
		 					</div>
						</figure>

						<p>Through out the year we arrange lots of ride and cycling events for pressional and also for novice.</p>

						<footer>
							<a href="blog-single.html" class="btn btn-md btn-trans">Read More</a>
						</footer>
					</article>
				</div>
			</div> <!-- /END SECTION BODY -->
		</div>
	</div>
</section>



<!-- =========================
     CONTACT
============================== -->
<section class="contact" id="contact">
	<div class="container">
		<div class="row">
			<!-- SECTION HEAD -->
			<div class="mb-30 mb-45 col-md-3">
				<header class="section-heading">
					<h2 class="title-text">Contact</h2>
				</header> <!-- /.section-heading -->

				<p>If you have any question regarding our club, you can send us your message by fill up the forms. We will be very happy to hear from you.</p>
			</div> <!-- /END SECTION HEAD -->

			<!-- SECTION BODY -->
			<div class="mb-30 col-md-9">
				<div class="row contact-form">
					<form id="contact-form" role="form">
						<div class="col-md-6">
							<div class="form-group">
								<label class="sr-only" for="name">Your full name</label>
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-user"></i></div>
							   	<input type="text" class="form-control" id="name" name="name" placeholder="Your full name" required="required">
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label class="sr-only" for="name">Your email address</label>
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
							   	<input type="email" class="form-control" id="email" name="email" placeholder="Your email address" required="required">
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label class="sr-only" for="name">Phone number (optional)</label>
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-phone"></i></div>
							   	<input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone number (optional)">
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label class="sr-only" for="name">Your website (optional)</label>
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-globe"></i></div>
							   	<input type="url" class="form-control" id="website" name="website" placeholder="Your website (optional)">
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label class="sr-only" for="message">Message</label>
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
							   	<textarea class="form-control" id="message" name="message" placeholder="Write your message" rows="4" required="required"></textarea>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<label class="sr-only">Send Email</label>
							<button class="btn btn-iconic btn-fill"><i class="fa fa-paper-plane"></i> <span class="btn-md">Send Message</span></button>
						</div>
					</form>

					<div class="col-sm-12">
						<p class="success-msg">Your Message has been Successfully Sent!</p>
						<p class="error-msg">Error! Something went wrong!</p>
					</div>
				</div>
			</div> <!-- /END SECTION BODY -->
		</div>
	</div>
</section>



<!-- =========================
     FOOTER
============================== -->
<footer class="footer">
	<!-- GOOGLE MAP -->
	<div class="google-map">
		<div id="gmap"></div>
		<address class="map-container container">
			<div class="row">
				<div class="map-address col-sm-3 col-xs-4">
					<div class="media">
						<div class="media-left">
							<i class="fa fa-map-marker"></i>
						</div>

						<div class="media-body">
							<p class="title-text">Address</p>
							<p>63739 street l12/5 House <br> City, Country</p>
						</div>
					</div>

					<div class="media">
						<div class="media-left">
							<i class="fa fa-mobile-phone"></i>
						</div>

						<div class="media-body">
							<p class="title-text">Phone</p>
							<p><a href="callto:+0225479336893">+02 25 479336893</a></p>
							<p><a href="callto:+0257893145939">+02 57 893145939</a></p>
						</div>
					</div>

					<div class="media">
						<div class="media-left">
							<i class="fa fa-paper-plane"></i>
						</div>

						<div class="media-body">
							<p class="title-text">Email</p>
							<p><a href="mailto:hi5@anwar.im">you@yourdomain.com</a></p>
						</div>
					</div>
				</div>
			</div>
		</address>
	</div> <!-- /END GOOGLE MAP -->

	<!-- SOCIAL INTARACTION -->
	<div class="footer-bottom">
		<div class="footer-left-bg">
			<div class="overlay"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 text-right">
					<div class="footer-left">
						<h2>TRAIL BIKE</h2>
						<span>MOUNTAIN BIKING CLUB</span>
						<p>Trail Bike is the on of the largest mountain biking club in Newyork. We are promoting sustainable trail access for mountain bikers and also trained cyclists.</p>
						<div class="social-icon">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="footer-right">
						<p>
							Trail Bike is the on of the largest mountain biking club in Newyork. We are pro- moting sustainable trail access. Please visit our useful Link.
						</p>
						<ul>
							<li><a href="#">Return policy</a></li>
							<li><a href="#">Promotional work</a></li>
							<li><a href="#">Privacy statement</a></li>
						</ul>
						<div class="subscribe">
							<form id="subscribe" role="form" novalidate="true">
								<input type="email" id="subscribe-email"  name="searchdata" placeholder="Your email address" />
								<label for="subscribe-email" class="sr-only">Your email address</label>
								<input type="submit" name="submit" value="Newsletter Subscribe" />
								<p class="success-msg">You are successfully subscribed!</p>
								<p class="error-msg">Error! Something went wrong!</p>
							</form>
						</div>
						<p class="copyright">&copy; 2017 CodePassanger - TRAIL BIKE Template By <a href="#">CodePassanger</a></p>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /END SOCIAL INTARACTION -->
	<a class="goto" href="#home"><i class="fa fa-arrow-up"></i></a>
</footer>
<!-- =========================
     SCRIPTS
============================== -->
<!-- GOOGLE MAP API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpsa0dCe3KnM6wYXmIYPPhvrzWcNVJcxI&amp;sensor=true"></script>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.localScroll.min.js"></script>
<script src="js/jquery.mixitup.min.js"></script>
<script src="js/matchMedia.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/maplace-0.1.3.min.js"></script>
<script src="js/custom.js"></script>


  </body>
</html>
